<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="action_module" model="ir.actions.act_window">
        <field name="name">Module</field>
        <field name="res_model">school.module</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="list_module" model="ir.ui.view">
        <field name="name">Module</field>
        <field name="model">school.module</field>
        <field name="arch" type="xml">
            <tree string="Modules">
                <field name="name" />
                <field name="student_relation" />
                <field name="teacher_relation" />
                <field name="cicle_relation" />
            </tree>
        </field>
    </record>

    <menuitem id="menu_root" name="School" />
    <menuitem id="module_section" name="Modules" parent="menu_root" action="action_module" />
</odoo>
